## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Vaini,TO,-21.2000,-175.2000,82.56,69,20,10.36,few clouds,2022-03-26 01:56:21
1,1,Lapao,BR,-11.3833,-41.8319,69.44,66,6,8.95,clear sky,2022-03-26 02:03:19
2,2,Atuona,PF,-9.8000,-139.0333,79.03,82,67,20.09,light rain,2022-03-26 01:56:29
3,3,Onalaska,US,43.8844,-91.2351,37.27,61,100,23.02,overcast clouds,2022-03-26 02:03:19
4,4,Skibbereen,IE,51.5500,-9.2667,50.11,80,35,10.11,scattered clouds,2022-03-26 01:59:34

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Vaini,TO,-21.2000,-175.2000,82.56,69,20,10.36,few clouds,2022-03-26 01:56:21
2,2,Atuona,PF,-9.8000,-139.0333,79.03,82,67,20.09,light rain,2022-03-26 01:56:29
6,6,Bowen,AU,-20.0167,148.2333,82.71,57,100,13.27,overcast clouds,2022-03-26 02:03:20
11,11,San Policarpo,PH,12.1791,125.5072,82.53,76,15,10.67,few clouds,2022-03-26 01:59:57
15,15,Rikitea,PF,-23.1203,-134.9692,79.95,72,52,17.13,broken clouds,2022-03-26 01:52:57
16,16,Avarua,CK,-21.2078,-159.7750,82.45,78,75,11.50,broken clouds,2022-03-26 01:56:39
20,20,Esperance,AU,-33.8667,121.9000,76.84,50,100,12.15,overcast clouds,2022-03-26 01:57:23
27,27,Souillac,MU,-20.5167,57.5167,75.58,94,40,4.61,scattered clouds,2022-03-26 01:56:50
29,29,Kapaa,US,22.0752,-159.3190,80.58,64,54,5.99,broken clouds,2022-03-26 01:56:23
30,30,Itacare,BR,-14.2775,-38.9967,76.62,80,32,5.48,scattered clouds,2022-03-26 02:03:24

In [5]:
# 4a. Determine if there are any empty rows.
# 3 possible ways to look for null values

#preferred_cities_df.count()

#preferred_cities_df.notnull().sum()

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Date                   0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Vaini,TO,-21.2000,-175.2000,82.56,69,20,10.36,few clouds,2022-03-26 01:56:21
2,2,Atuona,PF,-9.8000,-139.0333,79.03,82,67,20.09,light rain,2022-03-26 01:56:29
6,6,Bowen,AU,-20.0167,148.2333,82.71,57,100,13.27,overcast clouds,2022-03-26 02:03:20
11,11,San Policarpo,PH,12.1791,125.5072,82.53,76,15,10.67,few clouds,2022-03-26 01:59:57
15,15,Rikitea,PF,-23.1203,-134.9692,79.95,72,52,17.13,broken clouds,2022-03-26 01:52:57
...,...,...,...,...,...,...,...,...,...,...,...
649,649,Siguiri,GN,11.6667,-9.5000,83.62,33,20,4.18,few clouds,2022-03-26 02:06:15
653,653,Matamoros,MX,25.5333,-103.2500,75.31,6,40,5.75,scattered clouds,2022-03-26 02:06:16
654,654,The Valley,AI,18.2170,-63.0578,77.09,73,3,19.19,clear sky,2022-03-26 01:57:21
656,656,Caravelas,BR,-17.7125,-39.2481,75.18,88,89,4.79,overcast clouds,2022-03-26 01:59:19
661,661,Kerema,PG,-7.9631,145.7785,84.72,71,98,7.47,overcast clouds,2022-03-26 02:06:19

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,
2,Atuona,PF,79.03,light rain,-9.8000,-139.0333,
6,Bowen,AU,82.71,overcast clouds,-20.0167,148.2333,
11,San Policarpo,PH,82.53,few clouds,12.1791,125.5072,
15,Rikitea,PF,79.95,broken clouds,-23.1203,-134.9692,
16,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
20,Esperance,AU,76.84,overcast clouds,-33.8667,121.9000,
27,Souillac,MU,75.58,scattered clouds,-20.5167,57.5167,
29,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,
30,Itacare,BR,76.62,scattered clouds,-14.2775,-38.9967,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
        
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError): print("Hotel not found... skipping.")

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Vaini,TO,82.56,few clouds,-21.2000,-175.2000,Nukuhetulu
2,Atuona,PF,79.03,light rain,-9.8000,-139.0333,Atuona
6,Bowen,AU,82.71,overcast clouds,-20.0167,148.2333,Bowen
11,San Policarpo,PH,82.53,few clouds,12.1791,125.5072,Oras
15,Rikitea,PF,79.95,broken clouds,-23.1203,-134.9692,Rikitea

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
preferred_cities_df.to_csv(output_data_file, index_label="City_ID")

# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))